.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 470px;
  margin: 1.3rem auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  background-color: var(--whitePrimary);
  box-shadow: 0px 10px 25px #00000033;
  border-radius: 30px;
  border-bottom: #cbcbcb solid 5px;
  width: 100%;
  padding: 2rem 2.5rem;
  /* gap: 20px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0rem 0.5rem 0rem;
}

.form-group label {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.form-group input {
  padding: 0.7rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-family: inherit;
  font-size: 14px;
  transition: border-color 0.2s;
}

.form-group input:focus {
  outline: none;
  border-color: #3b82f6;
}

.forgotten-password {
  color: #4d4d4d;
  cursor: pointer;
  font-size: 12px;
  font-family: inherit;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
}

.submit-btn {
  background-color: #357ced;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0rem;
  transition: background-color 0.3s;
  align-self: center;
}

.submit-btn:hover {
  background-color: #1755d9;
}

.submit-btn:disabled {
  background-color: #cccccc;
  color: #ffffff;
  font-weight: normal;
  cursor: not-allowed;
}

.toggle-mode-btn {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
}

.toggle-mode-btn:hover {
  text-decoration: underline;
}

.input-feedback {
  margin-top: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.input-feedback ul {
  margin: 0.2rem 0rem 0rem 0rem;
}

.success-msg {
  color: #10b981;
}

.error-msg {
  color: #ef4444;
  display: block;
}

/* MOBILE VIEW */

@media screen and (max-width: 768px) {
  .auth-form {
    width: 100%;
    padding: 2rem 1.5rem;
  }
}
